
#set($node = $context.source.node)
#set($edge = $context.info.parentTypeName.toString().split("Edge"))
#set($typeName = $edge.get(0))
#set($id = $context.source.node.id)
#set($node.id = $util.base64Encode("$typeName:$id"))
{
   "version": "2018-05-29",
   "payload": $util.toJson($node)
}